/* Stile per il corpo del documento */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7d8ba; /* Arancione chiaro */
    text-align: center; /* Centra il contenuto orizzontalmente */
}

.left-box {
    display: flex;
    flex-direction: column;
    width: 200px; /* Puoi regolare questa larghezza come desideri */
    background-color: #ffefe8; /* Colore di sfondo del box */
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fissa il box nella posizione */
    top: 0;
    left: 0;
    height: 100vh; /* Altezza del box per occupare tutta la pagina */
    overflow-y: auto; /* Permette di scorrere verticalmente se il contenuto è più alto del box */
    transform: translateX(-80%); /* Sposta il box completamente fuori dalla sinistra */
    transition: transform 0.3s ease-in-out; /* Aggiunge una transizione per il movimento */
}
.left-box:hover {
    transform: translateX(0);  /* Sposta il box di 20px a destra quando il mouse passa sopra */
}
  
.right-box {
    display: flex;
    flex-direction: column;
    width: 180px; /* Puoi regolare questa larghezza come desideri */
    background-color: #ffefe8; /* Colore di sfondo del box */
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fissa il box nella posizione */
    top: 0;
    right: 0;
    height: 100vh; /* Altezza del box per occupare tutta la pagina */
    overflow-y: auto; /* Permette di scorrere verticalmente se il contenuto è più alto del box */
    transform: translateX(80%); /* Sposta il box completamente fuori dalla sinistra */
    transition: transform 0.3s ease-in-out; /* Aggiunge una transizione per il movimento */
}
.right-box:hover {
    transform: translateX(0);  /* Sposta il box di 20px a destra quando il mouse passa sopra */
}


#TreImg img {
    width: 80%; /* Le immagini occupano tutta la larghezza del box */
    margin-bottom: 35px; /* Spazio tra le immagini */
    height: auto; /* Altezza fissa per mantenere le proporzioni */
     /* Taglia l'immagine per riempire le dimensioni */
    display: block;
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
    border-radius: 5px; /* Bordi leggermente arrotondati */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

#TreImg img:hover {
    transform: scale(1.1); /* Ingrandisce l'immagine al passaggio del mouse */
}

#rece{
    width: 90%;
    margin: 20px auto; /* Centra la tabella orizzontalmente */
    border-collapse: collapse;
}


#rating{
    margin: 40px;
}

.beautiful-button {
    /* Stile per il pulsante */
    margin-left: 10px;
    display: inline-block;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px; /* Aggiungi margine tra i pulsanti */
    justify-content: center;
}

.beautiful-button:hover {
    background-color: #3e8e41;
}

/* Stile per l'intestazione */
h3 {
    color: #ce441a; /* Rosso corallo */
    margin-top: 50px; /* Spazio sopra il titolo */
}

#search-container {
    margin: 20px auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea.full-text {
    width: 100%; /* Or any other value */
}
.full-text {
    resize: horizontal;
    overflow: auto;
    min-width: 100px; /* adjust as needed */
    max-width: 100%; /* adjust as needed */
}


/* Stile per la tabella */
table {
    width: 90%;
    margin: 20px auto; /* Centra la tabella orizzontalmente */
    border-collapse: collapse;
    background-color: #ffffff; /* Bianco */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    border-radius: 10px; /* Bordi arrotondati */
    overflow: hidden; /* Assicura che i bordi arrotondati funzionino */
}

/* Intestazione della tabella */
thead {
    background-color: #ffe4cc; /* Azzurro pastello */
}

/* Celle dell'intestazione della tabella */
thead th {
    padding: 15px;
    text-align: center;
    color: #ce441a; /* Rosso corallo */
    font-size: 18px;
}

/* Righe della tabella */
tbody tr {
    border-bottom: 1px solid #ffc4a6;
    transition: background-color 0.3s ease; /* Transizione per l'effetto hover */
}

/* Effetto hover sulle righe della tabella */
tbody tr:hover {
    background-color: #ffe4cc;  /* Azzurro chiarissimo */
}

/* Celle del corpo della tabella */
tbody td {
    padding: 2px;
    font-size: 16px;
    color: #ce441a; /* Rosso corallo */
}

/* Stile per le immagini di copertina */
td img {
    width: 180px; /* Larghezza fissa */
    height: auto; /* Altezza fissa per mantenere le proporzioni */
    object-fit: cover; /* Taglia l'immagine per riempire le dimensioni */
    display: block;
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
    border-radius: 5px; /* Bordi leggermente arrotondati */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Ombra leggera */

}
#Fiveimg  img{
    width: 180px; /* Larghezza fissa */
    height: auto; /* Altezza fissa per mantenere le proporzioni */
    object-fit: cover; /* Taglia l'immagine per riempire le dimensioni */
    display: flex;
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
    margin-block: auto; /* Spazio tra le immagini */
    border-radius: 5px; /* Bordi leggermente arrotondati */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Ombra leggera */
   
}


li{
    list-style-type:  none;
    display: inline;
    margin: 0 10px;
    
}

#libri-recenti{
    background-color: #fdd9c8;
    display: inline-block;
    width: 90%;
    border-radius: 5px; /* ingBordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
    color: #000; /* Colore del testo */
    margin: auto;
    padding: 1px; /* Aggiungi un padding per evitare che il testo tocchi i bordi */
}

#libri-consigliati{
    background-color: #fdd9c8;
    display: inline-block;
    width: 90%;
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
    color:#000; /* Bianco */
    margin: auto;
    padding: 1px; /* Aggiungi un padding per evitare che il testo tocchi i bordi */
 
}
/* Stile per il link "Torna alla Home" */
a {
    display: inline-block;
    margin: 5px  auto;
    text-decoration: none;
    color: #fff; /* Bianco */
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#Archivio{
    font-size: large;
    display: inline-block; /* Permette di applicare padding e margin */
    padding: 20px 40px; /* Aggiungi spazio interno per sembrare un bottone */
    background-color: #4CAF50; /* Colore di sfondo del bottone */
    color: white; /* Colore del testo */
    text-align: center; /* Centra il testo */
    text-decoration: none; /* Rimuove la sottolineatura */
    border-radius: 5px; /* Bordi arrotondati */
    position: absolute ; /* Fissa il bottone nella posizione */
    top: 10px; /* Posiziona il bottone in alto */
    right: 250px; /* Posiziona il bottone a destra */
    transition: transform 0.3s ease; /* Aggiunge una transizione per il movimento */
}

#Archivio:hover {
    transform: scale(1.1); /* Ingrandisce il bottone al passaggio del mouse */
}

#Autori{
    font-size: large;
    display: inline-block; /* Permette di applicare padding e margin */
    padding: 20px 40px; /* Aggiungi spazio interno per sembrare un bottone */
    background-color: #4CAF50; /* Colore di sfondo del bottone */
    color: white; /* Colore del testo */
    text-align: center; /* Centra il testo */
    text-decoration: none; /* Rimuove la sottolineatura */
    border-radius: 5px; /* Bordi arrotondati */
    position: absolute; /* Fissa il bottone nella posizione */
    top: 10px; /* Posiziona il bottone in alto */
    left: 250px; /* Posiziona il bottone a destra */
    transition: transform 0.3s ease; /* Aggiunge una transizione per il movimento */
}

#Autori:hover {
    transform: scale(1.1); /* Ingrandisce il bottone al passaggio del mouse */
}






#logout{
    display: inline-block;
    margin: 20px auto;
    text-decoration: none;
    color: #fff; /* Bianco */
    background-color: #ce441a; /*Rosso corallo */
    padding: 10px 20px; /* Spaziatura interna */
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
} 
#libriP{
    display: inline-block;
    margin: 20px auto;
    text-decoration: none;
    color: #fff; /* Bianco */
    background-color: #ce441a; /* Rosso corallo */
    padding: 10px 20px; /* Spaziatura interna */
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#recensione {
    height: auto;
}



/* Stile per il link "Torna alla Home" al passaggio del mouse */
a:hover {
    background-color: #f39353; /* Rosso chiaro */
    
    border-radius: 5px;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene le proporzioni e copre tutta la pagina */
    transform: translate(-50%, -50%);
    z-index: -100; /* Assicura che il video sia sotto il contenuto */
}
#ris-ricerca li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f2f2f2; 
    color: #333; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
#ris-ricerca li:hover {
    background-color: #e6e6e6; 
}


/* Stile per la barra di ricerca */
#search-input {
    width: 600px; /* Imposta la larghezza desiderata */
    height: 20px;
    padding: 10px;
    border: 1px solid #ce441a; /* Rosso corallo */
    border-radius: 5px;
    font-size: 16px;
    transition: width 0.4s ease-in-out;
}

#myButton{
    background-color: #4CAF50;
}

/* Stile per il pulsante di ricerca */
#search-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    width: 150px; /* Larghezza fissa */
    background-color: #ce441a; /* Rosso corallo */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Stile per il pulsante di ricerca al passaggio del mouse */
#search-button:hover {
    background-color: #f39353; 
}

#inserisci{
    display: inline-block;
    margin: 20px auto;
    text-decoration: none;
    color: #fff; /* Bianco */
    background-color: #ce441a; /* Rosso corallo */
    padding: 10px 20px; /* Spaziatura interna */
    border-radius: 5px; /* Bordi arrotondati */
    font-weight: bold;
    transition: background-color 0.3s ease;
}


/* Stile per il contenitore della barra di progresso */
#progress-container {
    margin: 40px;
    padding: 10px 20px;
    background-color: #ce441a; /* Rosso corallo */
    color: #fff; /* Bianco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Stile per l'input del numero di pagine lette */
#progress-container input[type="number"] {
    width: 100px; /* Larghezza fissa */
    padding: 10px;
    border: 1px solid #ce441a; /* Rosso corallo */
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

/* Stile per il pulsante di aggiornamento al passaggio del mouse */
#progress-container:hover {
    background-color: #f39353; /* Rosso chiaro */
}


/* Aggiungi queste regole alla fine del tuo file libriOrder.css */
.social-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0 10px; /* Margine tra le icone */
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2); /* Effetto hover */
}


select {
    padding: 8px; /* Spazio interno */
    font-size: 16px; /* Dimensione del testo */
    border: 1px solid #ccc; /* Bordo */
    border-radius: 5px; /* Bordi arrotondati */
    background-color: #fff; /* Colore di sfondo */
    width: 200px; /* Larghezza del menu */
}

#menutendina{
    padding: 8px; /* Spazio interno */
    font-size: 16px; /* Dimensione del testo */
}

#menubottone{
    width: 100px;
    padding: 8px; /* Spazio interno */
    font-size: 16px; /* Dimensione del testo */
    color: #fff;
    background-color: #ce441a; /* Colore di sfondo */
    border-radius: 5px; /* Bordi arrotondati */
    margin: 10px 0;
    
}



#progress {
    width: 90%; /* Occupa tutta la larghezza */
    margin: 40px; /* Margini per centrare */
    height: 20px; /* Altezza dell'elemento */
    background-color: #ce441a; /* Rosso corallo */
    border-radius: 5px; /* Bordi arrotondati */
    transition: width 0.4s ease-in-out; /* Altezza dell'elemento */
    -webkit-appearance: none;
    appearance: none;
}

/* Stile per la barra di progresso nei browser che non supportano le pseudo-classi */
#progress::-webkit-progress-bar {
    background-color: white; 
    border-radius: 5px;
}

#progress::-webkit-progress-value {
    background-color: #ce441a; /* Rosso corallo */
    border-radius: 5px;
}

#progress::-moz-progress-bar {
    background-color: #ce441a; /* Rosso corallo */
    border-radius: 5px;
}


/* Stile per il pulsante "Salva Progressi" */
#progress-container button {
    margin: 40px;
    padding: 10px 20px;
    background-color: #ce441a; /* Rosso corallo */
    color: #fff; /* Bianco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Per occupare l'intera larghezza del contenitore */
    margin: 20px auto; /* Margini per centrare */
    width: 150px; /* Larghezza fissa */
}

/* Effetto hover sul pulsante "Salva Progressi" */
#progress-container button:hover {
    background-color: #f39353; /* Rosso chiaro */
}

/* Stile per la sezione delle recensioni */
#recensioni-section {
    margin-top: 50px; /* Spazio sopra */
}

/* Stile per la tabella delle recensioni */
#recensioni-table {
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
    border-collapse: collapse;
}

/* Stile per le celle della tabella delle recensioni */
#recensioni-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Linea divisoria tra le righe */
}

/* Stile per i bottoni delle recensioni */
.beautiful-button {
    padding: 10px 20px;
    background-color: #ce441a; /* Rosso corallo */
    color: #fff; /* Bianco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Effetto hover sui bottoni delle recensioni */
.beautiful-button:hover {
    background-color: #f39353; /* Rosso chiaro */
}

/* Stile per il form di aggiunta recensione */
#form-aggiungiRecensione {
    margin-top: 20px; /* Spazio sopra */
}
.voto-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Se hai bisogno di gestire meglio gli spazi stretti */
}

.voto-container h3 {
    margin-right: 20px; /* Spazio tra il titolo e l'input */
}

.voto-form, .elimina-form {
    display: inline-block;
    margin: 0 10px; /* Spazio tra i form */
}

.voto-form input[type="number"] {
    margin: 0 10px; /* Spazio tra l'input e i pulsanti */
}

.voto-form input[type="submit"], .elimina-form input[type="submit"] {
    margin: 0 10px; /* Spazio tra i pulsanti */
}
#container-home{
    text-align: center;
}


#home-button {
    display: inline-block;
    margin: 20px 10px;
    padding: 10px 20px;
    background-color: #ce441a; /* Rosso corallo */
    color: #fff; /* Bianco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    justify-content: center;
}

/* Effetto hover sul pulsante "HOME" */
#home-button:hover {
    background-color: #f39353; /* Rosso chiaro */
    
}

body {
    font-family: Arial, sans-serif;
}

.form-container {
    width: 50%;
    margin: auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.form-container h4 {
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    justify-content: center;

}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="int"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    justify-content: center;
}

.form-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

.centered-buttons {
display: flex;
justify-content: center;
}

.centered-buttons button {
padding: 10px 20px;
margin: 5px;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

#inserisciButton, #chiudi-inserisciButton {
background-color: #4CAF50; /* Green */
}

#mod, #chiudi-inserisciButton {
background-color: #FFA500; /* Orange */
}

#del_but, #chiudi-del_but {
background-color: #FF0000; /* Red */
}

.centered-buttons button:hover {
opacity: 0.8;
}