/* Stile per il corpo del documento */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e9dfd1; /* Azzurro pastello */
    text-align: center; /* Centra il contenuto orizzontalmente */
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene le proporzioni e copre tutta la pagina */
    transform: translate(-50%, -50%);
    z-index: -1; /* Assicura che il video sia sotto il contenuto */
}

/* Stile per l'intestazione */
h1 {
    color: #ce441a;
    margin-top: 50px; /* Spazio sopra il titolo */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* Ombra bianca */
}

/* Stile per il form di login */
form {
    width: 300px; /* Larghezza del form */
    margin: 0 auto; /* Centra il form orizzontalmente */
    background-color: #ffe4cc; /* Azzurro pastello */
    padding: 20px; /* Spaziatura interna del form */
    border-radius: 10px; /* Bordi arrotondati */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

/* Stile per le etichette dei campi di input */
label {
    display: block; /* Visualizza le etichette come blocchi separati */
    color: #ce441a; /* Verde scuro */
    margin-bottom: 5px; /* Spazio sotto l'etichetta */
}

/* Stile per i campi di input */
input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Larghezza completa meno il padding */
    padding: 10px; /* Spaziatura interna */
    margin: 10px 0; /* Spaziatura esterna */
    border: 1px solid #ebd0b2; /* Bordo sottile */
    border-radius: 5px; /* Bordi arrotondati */
}

/* Stile per il pulsante di login */
button[type="submit"] {
    width: calc(100% - 20px); /* Larghezza completa meno il padding */
    padding: 10px; /* Spaziatura interna */
    margin: 10px 0; /* Spaziatura esterna */
    background-color: #ce441a; /* Verde pastello */
    color: #e9dfd1; /* Testo bianco */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Bordi arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio sopra il pulsante */
    transition: background-color 0.3s ease; /* Effetto di transizione per il cambio di colore */
}

/* Stile per il pulsante di login al passaggio del mouse */
button[type="submit"]:hover {
    background-color: #f39353; /* Verde scuro */
}

/* Stile per il link di registrazione */
form[action="/signup"] input[type="submit"] {
    display: block; /* Visualizza il pulsante di registrazione come blocco separato */
    width: calc(100% - 20px); /* Larghezza completa meno il padding */
    padding: 10px; /* Spaziatura interna */
    margin: 10px auto; /* Spaziatura esterna */
    background-color: #ce441a; /* Verde pastello */
    color: #e9dfd1; /* Testo bianco */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Bordi arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio sopra il pulsante */
    transition: background-color 0.3s ease; /* Effetto di transizione per il cambio di colore */
}

/* Stile per il link di registrazione al passaggio del mouse */
form[action="/signup"] input[type="submit"]:hover {
    background-color: #f39353; /* Verde scuro */
}



