<!DOCTYPE html>
<html>
<head>
    <title>Dettagli Autore</title>
    <link rel="stylesheet" href="/css/libriOrder.css" type="text/css">
    
</head>
<body>
    <h1>Dettagli Autore</h1>
    
    <a  th:if="${session.loggato=='ok'} " style="color: rgb(97, 139, 18);" href="/homeUtente">Ritorna alla home!</a>
    <a  th:if="${session.loggato!='ok'}"style="color: rgb(97, 139, 18);" href="/home">Ritorna alla home!</a>
    <a th:if="${session.loggato=='ok'}"style="color: rgb(97, 139, 18);" href="/api/libro/libriUtente">Visualizza i tuoi libri!</a>
    <a  style="color: rgb(97, 139, 18);" href="/api/libro/all">Vai nell'archivio libri!</a>
    <a  style="color: rgb(97, 139, 18);" href="/api/autore/all">Vai nell'archivio autori!</a>
   
    
    <!-- Add your content here --><table>
        <thead>
            <TH>COVER</TH>
            <TH>NOME</TH>
            <th>COGNOME</th>
            <th>BIOGRAFIA</th>
            <TH>RATING</TH>
            <th>Lista libri</th>
       
        
            
        </thead>
        <tbody>
            <tr th:each="autori:${autore}">

                <td th:src="${autori.url}"><img th:src="${autori.url}" alt="Copertina"></td>
                <td th:text="${autori.nome}"></td>
                <td th:text="${autori.cognome}"></td>
                <td th:text="${autori.biografia}"></td>
                <td th:text="${autori.rating}"></td>
                  
            </tr>
        </tbody>





 <!--tabella di visualizzazione lista/modifica libro e cancellazione-->

</table>
     <div class="footer" style="text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: grey;
    color: #fff;">
        <footer style="
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;">
            <a href="/chiSiamo" id ="chiSiamo">Chi siamo</a>
            <a href="/FAQ" id ="FAQ">FAQ</a>
            <a href="/privacyPolicy" id ="privacyPolicy">Privacy policy</a>
            <a href="/lavoraConNoi" id ="lavoraConNoi">Lavora con noi</a> 
            <!-- Aggiungi link ai social -->
            <a href="https://www.facebook.com/BookWarm" target="_blank" id="facebook">
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/facebook-2752192-2285009.png" alt="Facebook" style="width: 20px; height: 20px; vertical-align: middle;">
                </a>
                <a href="https://www.instagram.com/BookWarm" target="_blank" id="instagram">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram" style="width: 20px; height: 20px; vertical-align: middle;">
        </footer>
    </div>
</body>
</html>