<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/libriOrder.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
    <script src="/js/libri.js"></script>
    <script th:inline="javascript">
        var list = /*[[${session}]]*/ [];
        var list1 = /*[[${recensione}]]*/ [];
    
       </script>

    <title>Dettaglio Libro</title>
</head>
<body onload="adjustInputSizeOnLoad();updateProgress()">

    <div id="container-home">
    <!--da aggiungere bottone per arrivare alla pagina-->
    <a id="home-button" th:if="${session.loggato=='ok'} " href="/homeUtente">HOME</a>
    <a id="home-button" th:if="${session.loggato!='ok'}"href="/home">HOME</a>
    <a id="home-button" href="/api/autore/all">ARCHIVIO AUTORI</a>
    <a id="home-button" th:if="${session.loggato=='ok'}"  href="/api/libro/libriUtente">I TUOI LIBRI</a>
    <a id="home-button" href="/api/libro/all">ARCHIVIO LIBRI</a>
</div>
    <table>
        <thead>
            <TH>COVER</TH>
            <th>TITOLO</th>
            <TH>AUTORE</TH>
            <th>GENERE</th>
            <th>TRAMA</th>
            <th>RATING</th>
            <th th:if="${session.loggato=='ok'}  and ${ratingPersonale != -1}">RATING PERSONALE</th>
            <th>PAGINE</th>
            <TH th:if="${session.loggato=='ok'}">PAGINE LETTE</TH>
        </thead>
        <tbody>
            <td class="text-center"><img th:src="${libro.url}" alt="Copertina"></td>
            <td class="text-center" th:text="${libro.titolo}"></td>    
            <td class="text-center"><a style="color: red;" th:text="${libro.autore}" th:href="@{|/api/autore/byNome?nome=${libro.autore}|}">  </a></td>
            <td class="text-center"><a  style="color: red;" th:text="${libro.genere}" th:href="@{|/api/libro/byGenere?genere=${libro.genere}|}">  </a></td>   
            <td class="text-center" th:text="${libro.trama}"></td>
            <td class="text-center" th:text="${#numbers.formatDecimal(libro.rating, 1, 2)}"></td>
            <td th:if="${session.loggato=='ok'} and ${ratingPersonale != -1}" class="text-center" th:text="${ratingPersonale}"></td>
            <td class="text-center" th:text="${libro.nPagine}"></td>
            <td class="text-center">
                <input type="number" th:value="${paginelette}" id="nPagineLette" min="0" th:max="${libro.nPagine}" 
                       oninput="updateProgress();validateInput(this)" th:readonly="${!associazione}" th:if="${session.loggato=='ok'}">
                     
            </td>
                
        </tbody>
    </table>

<div th:if="${associazione && session.loggato=='ok'}" >
    
    <form id ="form_invio" action="/api/libro/updatePagineLette" method="post">
        <input type="hidden" id="idLibro" th:value="${idLibro}" name="id" >
        <input type="hidden" id="nPagine" th:value="${nPagineLette}" name="nPagineLette">
    </form>
    <progress id="progress" value="0" th:max="${libro.nPagine}"></progress>
    <button id="progress-container" onclick="confirmProgress()">Salva Progressi</button>
    </div>
    <div th:if="${session.loggato=='ok' && associazione==true}" class="voto-container">
        <h3 id="rece">Dai un voto</h3>
    
        <form action="/api/libro/votoo" method="post" class="voto-form">
            <input type="hidden" name="idLibro" id="idLibro" th:value="${idLibro}">
            <input type="hidden" name="votoVecchio" id="votoVecchio" th:value="${libro.rating}">
            <input type="number" name="rating" id="rating" min="1" max="5" value="0" step="0.1" oninput="validateInput1(this)">
            <input th:if="${ratingPersonale == -1}" type="submit" value="Vota!">
            <input th:if="${ratingPersonale != -1}" type="submit" id="search-button" value="Modifica voto">
        </form>
    
        <div th:if="${ratingPersonale != -1}" class="elimina-form">
            <form action="/api/libro/eliminaVoto" method="get">
                <input type="hidden" name="idLibro" id="idLibro" th:value="${idLibro}">
                <input type="submit" id="search-button" value="Elimina voto">
                <input type="hidden" name="votoVecchio" id="votoVecchio" th:value="${libro.rating}">
            </form>
        </div>
    </div>
   

    <h3 id="rece">Recensioni</h3>
    <table id="recensioni-table" class="table table-striped">
        <tbody>
            <tr th:each="recensione:${recensioni}" th:if="${!#strings.isEmpty(recensione.recensione)}">
                <td id="listRec" th:text="${recensione.username}"></td>
                <td id="recensione">
            
                  
                        <textarea th:id="myTextarea" class="full-text" th:text="${recensione.recensione}" readonly></textarea>
                

                </td>

<!--${session.username}==${recensione.username} and-->
                <div id="div-bottoni" th:if=" ${session.username}==${recensione.username} and ${session.loggato}=='ok'">
                        <td>


                            <button id="myButton" class="beautiful-button" onclick="modificaRecensione(this)">Modifica recensione</button>
                            <div id="div-button2" style="display: none;">
               
                                <button id="myButton1" class="beautiful-button"
                                th:recensione="${recensione.recensione}"
                                onclick="modificaRec(this)">Salva la modifica</button>
                                <form id ="from_invio_rec" action="/api/libro/aggiungiRecensione" method="post">
                                    <input type="hidden" name="id" th:value="${idLibro}" >
                                    <input type="hidden" name="recensione"  id="recensioneee" >
                                </form>
                            </div>
                            <button id="deleteButton" class="beautiful-button" onclick="modificaRec(this,this)">Elimina recensione</button>
                </td>
                 </div>
            </tr>
            </tbody>
        </table>
             
            
       
            <div th:if="${avereRec=='false' && session.loggato=='ok' && associazione==true}">
                <button type="button" th:libro-id="${idLibro}" onclick="aggiungiRec(this)" class="beautiful-button">Aggiungi recensione</button> 
            </div>
            <div id="form-aggiungiRecensione" style="display: none;">
                <form action="/api/libro/aggiungiRecensione" method="post" class="beautiful-form">
                    <input type="hidden" id="libro-id" name="id">
                    <label for="recensione">Recensione</label>
                    <input type="text" id="recensione" name="recensione" class="beautiful-input">
                    <br>
                    <input type="submit" value="Aggiungi" class="beautiful-button">
                </form>
            </div>
 


    
   


    <div class="footer" style="text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: grey;
    color: #fff;">
        <footer style="
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;">
            <a href="/chiSiamo" id ="chiSiamo">Chi siamo</a>
            <a href="/FAQ" id ="FAQ">FAQ</a>
            <a href="/privacyPolicy" id ="privacyPolicy">Privacy policy</a>
            <a href="/lavoraConNoi" id ="lavoraConNoi">Lavora con noi</a> 
            <!-- Aggiungi link ai social -->
            <a href="https://www.facebook.com/BookWarm" target="_blank" id="facebook">
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/facebook-2752192-2285009.png" alt="Facebook" style="width: 20px; height: 20px; vertical-align: middle;">
                </a>
                <a href="https://www.instagram.com/BookWarm" target="_blank" id="instagram">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram" style="width: 20px; height: 20px; vertical-align: middle;">
        </footer>
    </div>

</body>
<script>

function Vota(button){
    
}
function validateInput1(input) {
    var value = input.value;
    if (value < 1) input.value = 1;
    if (value > 5) input.value = 5;
}
     function validateInput(input) {
    var max = parseInt(input.max);


    console.log(max);
    if (input.value > max) {
        input.value = max;
    }
    if (input.value < 0) {
        input.value = 0;
    }
    updateProgress();
}
   
   
   function confirmProgress() {
        const pagineLette = document.getElementById('nPagineLette').value;
        const libroId = document.getElementById('idLibro');
        const form = document.getElementById('form_invio');
        const pag = document.getElementById('nPagine');
        pag.value = pagineLette;
      // Imposta i valori nei campi del form
      // Invia il form
      form.submit();
      updateProgress();
        }
        function updateProgress() {
            const progress = document.getElementById('progress');
            const pagineLette = document.getElementById('nPagineLette').value;
        
            progress.value = pagineLette;
            const recensioni = document.getElementById('listRec');
          

  
        }
   
    function aggiungiRec(oggetto){
     
     document.getElementById('form-aggiungiRecensione').style.display = 'block';
     var id= document.getElementById("libro-id");
     id.value=oggetto.getAttribute("libro-id");
     console.log('Button clicked');
  
   }


   function modificaRecensione(oggetto) {
  
        var textarea = document.getElementById('myTextarea');
        textarea.readOnly = false;
        oggetto.style.display = 'none';
        var button = document.getElementById('div-button2');
        button.style.display = 'block';
    
}
function modificaRec(oggetto, clickedButton) {
    var textarea = document.getElementById('myTextarea');
    textarea.readOnly = true;
    oggetto.style.display = 'none';
    var button = document.getElementById('myButton');
    var button2 = document.getElementById('deleteButton');
    button.style.display = 'block';
    var form = document.getElementById('from_invio_rec');
    var recensioneInput = document.getElementById('recensioneee');

    if (clickedButton === button2) {
        recensioneInput.value = null;
    } else {
        recensioneInput.value = textarea.value;
    }

    form.submit();
}
window.onload = function() {
    updateProgress();
    var textarea = document.querySelector('textarea.full-text');
    var words = textarea.value.split(' ').length;
   
       
     if
     (words < 20) {
        textarea.style.width = '50%';
        textarea.style.height = '80px';
        textarea.style.maxWidht = '50%';
        textarea.style.minWidht = '80px';
       
    }
    else if (words < 50) {
        textarea.style.width = '70%';
        textarea.style.height = '100px';
        textarea.style.maxWidht = '70%';
        textarea.style.minWidht = '100px';
       
    } else {
        textarea.style.width = '100%';
        textarea.style.height = '200px';
        textarea.style.maxWidht = '100%';
        textarea.style.minWidht = '200px';
       
    
}

}


    </script>
    <style>
        body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7d8ba; /* Arancione chiaro */
    text-align: center; /* Centra il contenuto orizzontalmente */
    
}
    </style>
  
</html>
