<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/libriOrder.css" type="text/css">
    <title>FAQ</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 80%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
    
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
       
        h1 {
            text-align: center;
            color: #333;
        }
        h2 {
            color: #333;
        }
        h3 {
            color: #333;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
        }
        p {
            margin-bottom: 20px;
        }
        .footer {
            text-align: center;
            margin-top: 40px;
            padding: 10px;
            background-color: grey;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>FAQ</h1>
        
        <a  th:if="${session.loggato=='ok'} " style="color: rgb(97, 139, 18);" href="/homeUtente">Ritorna alla home!</a>
        <a  th:if="${session.loggato!='ok'}"style="color: rgb(97, 139, 18);" href="/home">Ritorna alla home!</a>
        <a th:if="${session.loggato=='ok'}"style="color: rgb(97, 139, 18);" href="/api/libro/libriUtente">Visualizza i tuoi libri!</a>
        <a  style="color: rgb(97, 139, 18);" href="/api/libro/all">Vai nell'archivio libri!</a>
        <a  style="color: rgb(97, 139, 18);" href="/api/autore/all">Vai nell'archivio autori!</a>
       
        <h2>Account e Registrazione</h2>
        <h3>Ho dimenticato la mia password. Come posso recuperarla?</h3>
        <p>Clicca su "Hai dimenticato la password?" nella pagina di login. Inserisci il tuo indirizzo email e riceverai un link per reimpostare la password.</p>

        <h2>Utilizzo del Sito</h2>
        <h3>Come posso aggiungere un libro alla mia libreria?</h3>
        <p>Cerca il libro utilizzando la barra di ricerca. Una volta trovato, clicca su "Aggiungi alla mia libreria" e seleziona lo scaffale appropriato (es. Da Leggere, In Lettura, Letto).</p>

        <h3>Come posso scrivere una recensione?</h3>
        <p>Vai alla pagina del libro che desideri recensire e clicca su "Scrivi una recensione". Inserisci il tuo testo, assegna un punteggio da 1 a 5 stelle, e clicca su "Pubblica recensione".</p>

        <h2>Social e Interazione</h2>
        <h3>Come posso seguire altri utenti?</h3>
        <p>Visita il profilo dell'utente che desideri seguire e clicca su "Segui". Riceverai aggiornamenti sulle loro attività e recensioni.</p>

        <h3>Cosa sono i gruppi di lettura e come posso partecipare?</h3>
        <p>I gruppi di lettura sono comunità di utenti che discutono di libri e organizzano letture collettive. Puoi trovare gruppi di tuo interesse nella sezione "Gruppi" e cliccare su "Unisciti al gruppo" per partecipare.</p>

        <h2>Personalizzazione e Preferenze</h2>
        <h3>Posso personalizzare le mie raccomandazioni di libri?</h3>
        <p>Sì, le raccomandazioni si basano sui libri che hai valutato e aggiunto alla tua libreria. Puoi anche affinare le raccomandazioni aggiornando i tuoi interessi e generi preferiti nelle impostazioni del tuo account.</p>

        <h3>Come posso modificare le informazioni del mio profilo?</h3>
        <p>Vai al tuo profilo, clicca su "Modifica profilo" e apporta le modifiche desiderate. Ricorda di salvare le modifiche prima di uscire dalla pagina.</p>

        <h2>Funzionalità Avanzate</h2>
        <h3>Cos'è il sistema di valutazione dei libri?</h3>
        <p>Il sistema di valutazione dei libri consente agli utenti di assegnare un punteggio da 1 a 5 stelle ai libri che hanno letto. Questo aiuta altri utenti a scegliere i libri basandosi su valutazioni aggregate.</p>

        <h3>Come posso creare una lista personalizzata di libri?</h3>
        <p>Vai alla sezione "Liste" e clicca su "Crea nuova lista". Dai un nome alla tua lista, aggiungi una descrizione e inizia a inserire i libri che desideri.</p>

        <h3>Cos'è il programma di sfide di lettura?</h3>
        <p>Il programma di sfide di lettura permette agli utenti di impostare un obiettivo di lettura per l'anno. Puoi monitorare il tuo progresso e confrontarti con gli amici.</p>

        <h2>Recensioni e Commenti</h2>
        <h3>Le mie recensioni possono essere modificate?</h3>
        <p>Sì, puoi modificare le tue recensioni in qualsiasi momento. Vai alla pagina del libro, trova la tua recensione e clicca su "Modifica".</p>

        <h3>Come posso segnalare una recensione inappropriata?</h3>
        <p>Se trovi una recensione che viola le linee guida della comunità, clicca sull'icona "Segnala" accanto alla recensione e seleziona il motivo della segnalazione.</p>

        <h3>Posso commentare le recensioni degli altri utenti?</h3>
        <p>Sì, puoi commentare le recensioni degli altri utenti cliccando su "Commenta" sotto la recensione. Partecipa alla discussione rispettando sempre le linee guida della comunità.</p>

        <h2>Supporto e Contatti</h2>
        <h3>Come posso contattare il supporto clienti?</h3>
        <p>Per contattare il supporto clienti, vai alla sezione "Aiuto" e utilizza il modulo di contatto. Puoi anche inviare un'email a supporto@bookwarm.com.</p>

        <h3>Dove posso trovare le linee guida della comunità?</h3>
        <p>Le linee guida della comunità sono disponibili nella sezione "Informazioni" del sito. Ti invitiamo a leggerle attentamente per comprendere le regole e i comportamenti attesi.</p>

        <h3>Come posso cancellare il mio account?</h3>
        <p>Se desideri cancellare il tuo account, vai alle impostazioni del tuo profilo e seleziona "Cancella account". Tieni presente che questa operazione è irreversibile.</p>

        <h2>Privacy e Sicurezza</h2>
        <h3>Come viene gestita la mia privacy sul sito?</h3>
        <p>La tua privacy è importante per noi. Consulta la nostra Politica sulla Privacy per sapere come raccogliamo, utilizziamo e proteggiamo le tue informazioni personali.</p>

        <h3>Come vengono protetti i miei dati personali?</h3>
        <p>Utilizziamo protocolli di sicurezza avanzati per proteggere i tuoi dati personali. Maggiori dettagli sono disponibili nella nostra Politica sulla Privacy.</p>
    </div>
    <div class="footer">
        <footer style="
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;">
            <a href="/chiSiamo" id ="chiSiamo">Chi siamo</a>
            <a href="/privacyPolicy" id ="privacyPolicy">Privacy policy</a>
            <a href="/lavoraConNoi" id ="lavoraConNoi">Lavora con noi</a> 
            <!-- Aggiungi link ai social -->
            <a href="https://www.facebook.com/BookWarm" target="_blank" id="facebook">
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/facebook-2752192-2285009.png" alt="Facebook" style="width: 20px; height: 20px; vertical-align: middle;">
                </a>
                <a href="https://www.instagram.com/BookWarm" target="_blank" id="instagram">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram" style="width: 20px; height: 20px; vertical-align: middle;">
    </footer> 
    </div>
</body>
    
    

</html>