<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/libriOrder.css" type="text/css">
    <script th:inline="javascript">
        var list = /*[[${libri}]]*/ [];
        var list1 = /*[[${autori}]]*/ [];

       
       </script>
    <script src="/js/libri.js"></script>
 
    <title >BookWarm</title>

</head>
<body>
    

    <video autoplay muted loop id="background-video">
        <source src="https://videos.pexels.com/video-files/4864405/4864405-uhd_4096_2160_25fps.mp4" type="video/mp4">
        Il tuo browser non supporta il tag video.
    </video>
    <h2>
        <img src="https://i.ibb.co/wM8h3cP/bookwarm.png" alt="bookwarm"></a>
    </h2>
    <p>La tua libreria digitale</p>
    
    <a href="/api/libro/all" id="Archivio" >Archivio Completo</a>
    <a href="/api/autore/all" id="Autori" >Archivio Autori</a>

    
    <div class="search-container">
        <form action="/api/libro/search" method="post" id="search-form">

            <input type="text" id="search-input" name="query" placeholder="Cerca...">
            <div id="ris-ricerca" ></div>
      
            <button id="search-button" type="submit" href="" disabled>
                search
            </button>
            <div id="ris-ricerca" >
                
            </div>
      
            
        </form>
    </div>
    



    
    
    
    <br>    
    <div class="left-box" id="left-box">
        <h3>Gruppi di Lettura:</h3>
        <a id ="TreImg" href="https://amzn.eu/d/btZKFps">
            <img src="https://m.media-amazon.com/images/I/71cEHsFnW5L._AC_UF1000,1000_QL80_.jpg" alt="Copertina 1"></a>
            <br>
            <a id ="TreImg" href="https://www.libraccio.it/libro/9791256210091/zerocalcare/quando-muori-resta-a-me.html?tr=nov100">
            <img src="https://www.libraccio.it/images/9791256210091_0_500_0_75.jpg" alt="Copertina 1"></a>
            <br>
            <a id ="TreImg" href="https://www.lafeltrinelli.it/eredita-di-giudice-trent-anni-libro-maria-falcone-lara-sirignano/e/9788804752622">
            <img src="https://www.lafeltrinelli.it/images/9788804752622_0_424_0_75.jpg" alt="Copertina 1"></a>
            <br>
        </a>
        <br>

        
    </div>

    <div class="right-box" id="right-box">
        <h3>Gestione Account</h3>
        <form action="/formLogin">
        <button id="search-button" type="submit" href="/formLogin">
            Loggati per Gestire <br> i tuoi dati!
        </button>
    </form>
        <br>
        <br>
        <form action="/signup"> 
        <button id="search-button" type="submit" href="/signup">
            Non sei ancora registrato? <br> Clicca qui!
        </button>
    </form>
    </div>
    


    
    
    <form action="/ratings" method="GET" id="libri-recenti">
        
    
        <div id="libri-recenti">
            <h2>I più Votati</h2>
            <div>
                <table>
    
                    
                    <tbody>
                           
                        <li th:each="libro:${libr}">      
                            <a id="Fiveimg" th:href="|/api/libro/libroById?idLibro=${libro.id}|">
                                <img th:src="${libro.url}" alt="Copertina">
                            </a>
                        </li>
                    </tbody>
                    <div>
                        <a href="/api/libro/ratings" style="color: black;">...</a>
                    </div>
                    
    
                </table>
            </div>
            
    
        </div>
        <br>
        <br>
    
        
    
        <div id="libri-consigliati">
            <h2>Il Genere più Popolare</h2>
            <div>
                
                <li th:each="libro:${librG}">      
                    <a id="Fiveimg" th:href="|/api/libro/libroById?idLibro=${libro.id}|">
                        <img th:src="${libro.url}" alt="Copertina">
                    </a>
                </li>
                
            </div>
            <div>
                <a href="/api/libro/genere" style="color: black;">...</a>
        
            </div>
    
    
    </form>

    
    
    <br>

    <div class="footer" style="text-align: center;
        margin-top: 40px;
        padding: 10px;
        background-color: grey;
        color: #fff;">
            <footer style="
            left: 0;
             bottom: 0;
            width: 100%;
            text-align: center;">
                <a href="/chiSiamo" id ="chiSiamo">Chi siamo</a>
                <a href="/FAQ" id ="FAQ">FAQ</a>
                <a href="/privacyPolicy" id ="privacyPolicy">Privacy policy</a>
                <a href="/lavoraConNoi" id ="lavoraConNoi">Lavora con noi</a> 
                <!-- Aggiungi link ai social -->
                <a href="https://www.facebook.com/BookWarm" target="_blank" id="facebook">
                    <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/facebook-2752192-2285009.png" alt="Facebook" style="width: 20px; height: 20px; vertical-align: middle;">
                    </a>
                    <a href="https://www.instagram.com/BookWarm" target="_blank" id="instagram">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram" style="width: 20px; height: 20px; vertical-align: middle;">
            </footer>
    </div> 
    
    
</body>

<script>
document.getElementById('search-input').addEventListener('input', function() {
    var searchInput = document.getElementById('search-input').value;
    document.getElementById('search-button').disabled = !searchInput;
});


const input = document.getElementById('search-input');
    input.addEventListener("keyup",autocomp);
    const search = document.getElementById('ris-ricerca');

    function autocomplete(valore){
      if(valore.length === 0){
        return [];
      }
      var valoreLower=valore.toLowerCase();
      var controllo=false;
      
      return list.filter((libro) => {

for(var i=0;i<valoreLower.length;i++)
{
        if(libro.titolo.toLowerCase().charAt(i)===valoreLower.charAt(i) )
        {
          
            controllo=true;
        }else{
            controllo=false;
            break;
        }
    }
 
if(controllo===true)
        return libro.titolo
      }
    )
  

}
function autocompleteA(valore){

    if(valore.length === 0){
        return [];
      }
      var valoreLower=valore.toLowerCase();
      var controllo=false;

  return list1.filter((autore) => {

for(var i=0;i<valoreLower.length;i++)
{
        if(autore.cognome.toLowerCase().charAt(i)===valoreLower.charAt(i) )
        {
          
            controllo=true;
        }else{
            controllo=false;
            break;
        }
    }
 
if(controllo===true)
        return autore.cognome;
      }
    )
    }
  
  function autocomp(input){
   
   
    let consigliati= "";
    let consigliati1= "";
    var cLibro=0;
    var cAutore=0;
    const titoli= autocomplete(input.target.value);
    const autori= autocompleteA(input.target.value);
titoli.forEach((titolo) => {
    if(cLibro<5)
    consigliati += " "+`<li  onclick="seleziona(event)"><span style="color:blue;">L</span>: ${titolo.titolo}</li>`+" ";

  cLibro++;

 
    
  })
    autori.forEach((autore) => {
        if(cAutore<5)

        consigliati1 +=" "+ `<li  onclick="seleziona(event)"><span style="color:green;">A</span>: ${autore.cognome}</li>`+" ";
        cAutore++;
    })
  let consigliatiSuper=consigliati+" "+consigliati1+" ";

  search.innerHTML = `<ul>${consigliatiSuper}</ul>`;
 

}
function seleziona(event){
  search.innerHTML = "";
  input.value = event.target.textContent.substring(3);
  
}
window.onpageshow = function() {
    document.getElementById('search-input').value = '';
}
</script>

</html>