<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/libriOrder.css" type="text/css">
    <script src="js/libri.js"></script>
    <title>Libro Inserito</title>
</head>
<body>
    <table>
        <thead>
            <TH>COVER</TH>
            <th>TITOLO</th>
            <TH>AUTORE</TH>
            <th>GENERE</th>
            <TH>DATA PUBBLICAZIONE</TH>
            <TH>RATING</TH>
            <th>See More</th>
            <th  th:if="${session.loggato == 'ok' }" >Utils</th>
            
        </thead>
        <tbody>
            <tr th:each="libro:${libri}">
                <td th:src="${libro.url}"><img th:src="${libro.url}" alt="Copertina"></td>
                <td th:text="${libro.titolo}"></td>           
          <td><a  style="color: red;" th:text="${libro.autore}" th:href="@{|/api/autore/byNome?nome=${libro.autore}|}">  </a></td>
     
          <td><a  style="color: red;" th:text="${libro.genere}" th:href="@{|/api/libro/byGenere?genere=${libro.genere}|}">  </a></td>
                <td th:text="${libro.dataPubblicazione}"></td>
                <td th:text="${#numbers.formatDecimal(libro.rating, 1, 2)}"></td>

                <td><a style="color: red;" th:href="|/api/libro/byId?idLibro=${libro.id}|">...</a></td>
            
            
            </tr>
        </tbody>


</table>
    <h1>Libro Inserito correttamente!</h1>
    <a id="search-button" th:if="${session.loggato=='ok'} " href="/homeUtente">HOME</a>
    <a id="search-button" th:if="${session.loggato!='ok'}"href="/home">HOME</a>
    <a id="search-button" href="/api/autore/all">ARCHIVIO AUTORI</a>
    <a id="search-button" th:if="${session.loggato=='ok'}"  href="/api/libro/libriUtente">I TUOI LIBRI</a>
    <a id="search-button" href="/api/libro/all">ARCHIVIO LIBRI</a>
</body>
</html>