<!DOCTYPE html>
<html>
<head>
    <title>Libri Utente</title>
    <link rel="stylesheet" href="/css/libriOrder.css" type="text/css">


</head>
<body>
<div class="wrapper">
    <h1>Libri Utente</h1>
    <style>
    </style>
    <div>
        <a id="search-button" th:if="${session.loggato=='ok'} " href="/homeUtente">HOME</a>
        <a id="search-button" th:if="${session.loggato!='ok'}"href="/home">HOME</a>
        <a id="search-button" href="/api/autore/all">ARCHIVIO AUTORI</a>
        <a id="search-button" href="/api/libro/all">ARCHIVIO LIBRI</a>
   
</div>
    <div id="libri-container" th:if="${vuoto!='true'}">
        <table>
            <thead>
                <TH>COVER</TH>
                <th>TITOLO</th>
                <TH>AUTORE</TH>
                <th>GENERE</th>
                <TH>DATA PUBBLICAZIONE</TH>
                <TH>PAGINE</TH>
                <TH>RATING</TH>
                <th>See More</th>
                <th>Elimina</th>
                
            </thead>
            <tbody>
                <tr th:each="libro:${libri}">
                    <td th:src="${libro.url}"><img th:src="${libro.url}" alt="Copertina"></td>
                    <td th:text="${libro.titolo}"></td>
    
              <td><a  style="color: red;" th:text="${libro.autore}" th:href="@{|/api/autore/byNome?nome=${libro.autore}|}">  </a></td>
         
              <td><a  style="color: red;" th:text="${libro.genere}" th:href="@{|/api/libro/byGenere?genere=${libro.genere}|}">  </a></td>
                    <td th:text="${libro.dataPubblicazione}"></td>
                    <td th:text="${libro.nPagine}"></td>
                    <td th:text="${#numbers.formatDecimal(libro.rating, 1, 2)}"></td>
                    <td><a style="color: red;" th:href="|/api/libro/byId?idLibro=${libro.id}|">...</a></td>
                    <td>

                        
               <form action="/api/libro/eliminaDaLista" method="post">
                    <input type="hidden" name="idLibro" th:value="${libro.id}">
                 

                    <button id="menubottone" class="deleteButton">Elimina!</button>
                </form>
                   
                     
                    </td>
                                            
                </tr>
        
                

            </tbody>
        </table>
            
    </div>
    <div th:if="${vuoto=='true'}" style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;">
    <h1>Non hai ancora inserito libri!</h1>
</div>
  
    
   

    <div class="footer" style="
        text-align: center;
        padding: 10px;
        background-color: grey;
        color: #fff;">
        <footer>
            <a href="/chiSiamo" id ="chiSiamo">Chi siamo</a>
            <a href="/FAQ" id ="FAQ">FAQ</a>
            <a href="/privacyPolicy" id ="privacyPolicy">Privacy policy</a>
            <a href="/lavoraConNoi" id ="lavoraConNoi">Lavora con noi</a> 
            <!-- Aggiungi link ai social -->
            <a href="https://www.facebook.com/BookWarm" target="_blank" id="facebook">
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/facebook-2752192-2285009.png" alt="Facebook" style="width: 20px; height: 20px; vertical-align: middle;">
            </a>
            <a href="https://www.instagram.com/BookWarm" target="_blank" id="instagram">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram" style="width: 20px; height: 20px; vertical-align: middle;">
        </footer>
    </div>

</body>

<style>

</style>
</html>